
.carousel-item img{
    height: 35rem;
}
.carousel-caption {
    position: absolute;
    /* right: 15%; */
    top: 10%;
    left: 10%;
    color: #6f7072;
    right: auto;
    text-align: start;
    font-size: 18px;
}