.pageTitle{
    color: #0070cd;
}
thead{
    background-color: #0070cd;
    color: white;
}
.table-hover tbody tr:hover{
    background-color: #ecf3fa;
    color: #0360ac;
}
tr td{
    vertical-align: middle;
}